*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: #222;
}
.table-container{
    padding-top: px;
    }

    /* th{
        font-size: 1.2rem;
        color: rgb(0, 0, 0);
        padding-right: 200px;
        width: 10%;
        cursor: pointer;
        text-align: center;
    
    
    } */








/* 000000000000000 */
#searc{
    margin-top: 40px;
    width: 600px;
    height: 30px;
    outline: none;
    border: none;
    background: orange;
    margin: 4px 0;
    border-radius: 5px;
    padding: 4px;
    color: #fff;
    transition: 0.3s;
    
 }
 
 #searc:focus{
    background: #eb9902;
    transform: scale(1.08);
 }


 /* 00000000000000000 */









table{

    background-color: #ffffff;
    height: auto;
    width: 100%;
    margin-top: 100px;

}

th{
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    padding-right: 200px;
    width: 10%;
    cursor: pointer;
    text-align: center;


}


td{
    text-align: center;
    font-size: 1.2rem;
    color:rgb(0, 0, 0);
    
    
}
#search{
    width: 500PX;
    margin-left: 150px;
    
}
.col{
   
    margin-right:-10px;
}
.material-icons{
   display: none;
}