*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-image: url(img/bk.jpg);
    background-size: cover;
}


    /* th{
        font-size: 1.2rem;
        color: rgb(0, 0, 0);
        padding-right: 200px;
        width: 10%;
        cursor: pointer;
        text-align: center;
    
    
    } */








/* 000000000000000 */
#searc{

    position: absolute;
    width: 400px;
    height: 30px;
    outline: none;
    border: 1px solid #1f1f1f;
    background: #62006e;
    margin: 4px 0;
    border-radius: 5px;
    padding: 4px;
    color: #fff;
    margin-top: 100px;
    margin-left: 27px;
    transition: 0.3s;
    
 }
 
 #searc:focus{
    background: #810092;
    transform: scale(1.08);
 }


 /* 00000000000000000 */









#Table{

    background-color: #62006e;
    color: #fff;
    height: auto;
    width: 80%;
    margin-top: 150px;
    margin-left: 100px;

}

th{
    font-size: 1.2rem;
    color: #000;
    padding-right: 200px;
    width: 10%;
    cursor: pointer;
    text-align: center;


}


td{
    text-align: center;
    font-size: 1.2rem;
    color:#dbdbdb;
    
    
}

.col{
   
    margin-right:-10px;
}
.material-icons{
   display: none;
}